<div class="flex-container">
  <div class="col-lg-8">
    <mat-card class="cardPadding" style="background-color: #F2F3F4;">
      <mat-card-header>
        <h1 style="font-weight:500;">Legal Request List</h1>
      </mat-card-header>
      <mat-card-content>
        <!-- <mat-list-item *ngFor="let item of casesData">
          <a class="spanSpace" matListItemTitle routerLink="/caseinfo/:id">{{item.companyName}}</a>
          <span class="spanSpace" matListItemLine>{{item.id}}</span>
          <span class="spanSpace" matListItemLine>{{item.crNum}}</span>
          <span class="spanSpace" matListItemLine>{{item.natAdd}}</span>
          <span class="spanSpace" matListItemLine>{{item.dirID}}</span>
        </mat-list-item> -->

        <table mat-table [dataSource]="requestData" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Division">
            <th mat-header-cell *matHeaderCellDef> Division </th>
            <td mat-cell *matCellDef="let element"> {{element.Division}}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="ApplicantName">
            <th mat-header-cell *matHeaderCellDef> ApplicantName </th>
            <td mat-cell *matCellDef="let element"> {{element.ApplicantName}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="Department">
            <th mat-header-cell *matHeaderCellDef>Department</th>
            <td mat-cell *matCellDef="let element"> {{element.Department}} </td>
          </ng-container>

          <ng-container matColumnDef="ReqDateTime">
            <th mat-header-cell *matHeaderCellDef> ReqDateTime </th>
            <td mat-cell *matCellDef="let element"> {{element.ReqDateTime}} </td>
          </ng-container>

          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <button style="margin-top: 10px;" *matCellDef="let element" [routerLink]="['/viewRequest/', element.ID]" mat-raised-button color="accent">View</button>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </mat-card-content>
    </mat-card>
  </div>
</div>

